<h1>Welcome {{ name }}</h1>
<p>Here you have your recipes: </p> 

{{#if recipes }}
    <table class="table1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each recipes}}
        <tr>
            <td><a href="/recipes/{{id}}" class="btn deep-orange accent-4"></a>{{name}}</td>
            <td>{{createdAt}}</td>
            <td><span class="recipe-status">{{status}}</span></td>
            <td></td>
        </tr>
        {{/each}}
    </table>
{{else}}
    <p>Please Create a Recipes</p>
{{/if}}

